*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}


/* canvas{
    border: #FF4C4C 2px solid;
} */
 body{
    background-color: #f5f5f5;
 }


.canvasRow{
    display: flex;
    /* position: relative; */

    /* width: max-content; */
    /* margin: 0px;
    padding: 0px;
    border: 0px; */
    /* min-width: 3900px;
    min-height: 880px; */
}

canvas{
    display: block;
    /* position: relative; */
    padding: 0;
    margin: 0;
    border: none;
}
/* canvas{
    border-top: 1px solid rgb(225, 225, 225);
}
canvas:first-of-type{
    border: none;
} */



.canvasDiv{
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px 1fr;
    gap: 0px;
    background: rgb(200,200,200);
    overflow: auto;
    height: 800px;
    /* margin: 1rem; */
    /* border: 0.2rem solid rgb(200,200,200); */
    /* border-right: 0.3rem #000 solid; */
}
.canvasDiv:hover{
    cursor: cell;
}

.canvasTop:hover {
    cursor: s-resize;
}

.canvasLeft:hover {
    cursor: w-resize;
}

.chartDiv{
    cursor: move;
}

.canvasTopDiv{
    display: flex;
    position: sticky;
    top: 0;
    /* z-index: 10; */
    /* margin-left: 40px; */
    grid-column: 1 / 3;
    grid-row: 1; 
    z-index: 2;
    /* border: 2px solid black; */
    background: #f5f5f5;
}
.canvasMain{
    position: relative;
    background: #fff;
    z-index: 0;
}

.canvasLeftDiv{
    position: sticky;
    left: 0px;
    background: #f5f5f5;
    z-index: 1;
    /* border: 2px solid black; */
}

/* canvas{
    border: 1px solid rgb(255, 0, 0);
    padding: 0px;
    margin: 0px;
} */

/* h1{
    margin-bottom:<x>px;
} */
/* canvas{
    margin-top: -5px;
}
canvas:first-of-type{
    margin-top: 0px;
} */


    




.topBar{
    /* display: static; */
    font-size:1rem;
    /* position: relative; */
    margin: 1rem;
    width: 100vb;
    display: grid;
    grid-template-areas: 'x x x x x b1 b2 b3 a a a a a ';
    gap: 2rem;
    
}

.button{
    height: 1rem;
    /* position: relative; */
    width: max-content;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4%;
    box-shadow: 0px 0px 5px 5px  rgba(160, 160, 160, 0.229);;
}
.button:hover{
    background: #F3FEB8;
    color: #FF4C4C;
    border-color: #FF4C4C;
    box-shadow: 0px 0px 5px 5px  #ff4c4cb3;
}



.upload{
    grid-area: b1;
}

.insert{
    grid-area: b2;
}

.delete{
    grid-area: b3;
}
/* body{
    overflow: auto;
} */
/* .canvas-div-sup{
    /* width: 1000px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: auto; 
} */




.ipBox{
    border: 1px black solid;
    position: absolute;
    display: none;
    /* z-index: 1; */
    /* left:208px;
    top:273px; */
    /* width:205px; */
    /* height:30px; */
    text-align: center;
    background-color: #fff;
    font-family: Calibri, Times, serif;
    font-size: 15px;
}

.ipBox:focus{
    /* border-radius: 0%; */
    border: none;
    outline: none;
    /* outline-color: #fff;  */
    background-color: #fff;
}
/* .ipBox: */

/* .canvas{
    font-weight: 100;
} */










.triangleSelectAll{
    position: sticky;
    left: 0px;
    background: #f5f5f5;
    width: 40px;
    height: 40px;
    border-right: 1px #aaa solid;
    border-bottom: 1px #aaa solid;
}

.triangleRightDown{
    height: 14px;
    width: 14px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-left: 14px solid transparent;
  /* border-right: 20px solid transparent;  */
    border-bottom: 14px solid #b7b7b7;
    /* border-radius: 200%; */
    /* background: #0f0; */
}


.dottedVerticalLineDiv{
    position: absolute;
    display: none;
    border-left: dashed 2px #0f703b;
    width: 0px;
    pointer-events: none;
}

.dottedHorizontalLineDiv{
    position: absolute;
    display: none;
    /* top: 10px;
    left: 10px; */
    border-top: dashed 2px #0f703b;
    /* height: 100px; */
    pointer-events: none;
    height: 0px;
}
